* text=auto !eol
.coin-or/projDesc.xml -text
/.travis.yml -text
Clp/LICENSE -text
Clp/MSVisualStudio/v10/Clp.sln -text
Clp/MSVisualStudio/v10/ClpExamplesMinimum/ClpExamplesMinimum.vcxproj -text
Clp/MSVisualStudio/v10/ClpExamplesTestBarrier/ClpExamplesTestBarrier.vcxproj -text
Clp/MSVisualStudio/v10/ClpExamplesTestQP/ClpExamplesTestQP.vcxproj -text
Clp/MSVisualStudio/v10/OsiClpUnitTest/OsiClpUnitTest.vcxproj -text
Clp/MSVisualStudio/v10/clp/clp.vcxproj -text
Clp/MSVisualStudio/v10/libClp/libClp.vcxproj -text
Clp/MSVisualStudio/v10/libOsiClp/libOsiClp.vcxproj -text
Clp/MSVisualStudio/v14/libClp/libClp.vcxproj -text
Clp/MSVisualStudio/v14/libOsiClp/libOsiClp.vcxproj -text
Clp/MSVisualStudio/v9/Clp.sln -text
Clp/MSVisualStudio/v9/ClpExamplesMinimum/ClpExamplesMinimum.vcproj -text
Clp/MSVisualStudio/v9/ClpExamplesTestBarrier/ClpExamplesTestBarrier.vcproj -text
Clp/MSVisualStudio/v9/ClpExamplesTestQP/ClpExamplesTestQP.vcproj -text
Clp/MSVisualStudio/v9/OsiClpUnitTest/OsiClpUnitTest.vcproj -text
Clp/MSVisualStudio/v9/clp/clp.vcproj -text
Clp/MSVisualStudio/v9/libClp/libClp.vcproj -text
Clp/MSVisualStudio/v9/libOsiClp/libOsiClp.vcproj -text
Clp/clp-uninstalled.pc.in -text
Clp/clp.pc.in -text
Clp/config.guess -text
Clp/config.sub -text
Clp/configure -text
Clp/configure.ac -text
Clp/depcomp -text
Clp/doxydoc/doxygen.conf.in -text
Clp/examples/Makefile.in -text
Clp/examples/decomp2.cpp -text
Clp/examples/decomp3.cpp -text
Clp/examples/driver3.cpp -text
Clp/examples/g.tiny -text
Clp/examples/gparm.tiny -text
Clp/examples/iis.cpp -text
Clp/examples/modify.cpp -text
Clp/examples/myPdco.cpp -text
Clp/examples/myPdco.hpp -text
Clp/examples/pdco.cpp -text
Clp/install-sh -text
Clp/ltmain.sh -text
Clp/missing -text
Clp/src/AbcCommon.hpp -text
Clp/src/AbcDualRowDantzig.cpp -text
Clp/src/AbcDualRowDantzig.hpp -text
Clp/src/AbcDualRowPivot.cpp -text
Clp/src/AbcDualRowPivot.hpp -text
Clp/src/AbcDualRowSteepest.cpp -text
Clp/src/AbcDualRowSteepest.hpp -text
Clp/src/AbcMatrix.cpp -text
Clp/src/AbcMatrix.hpp -text
Clp/src/AbcNonLinearCost.cpp -text
Clp/src/AbcNonLinearCost.hpp -text
Clp/src/AbcPrimalColumnDantzig.cpp -text
Clp/src/AbcPrimalColumnDantzig.hpp -text
Clp/src/AbcPrimalColumnPivot.cpp -text
Clp/src/AbcPrimalColumnPivot.hpp -text
Clp/src/AbcPrimalColumnSteepest.cpp -text
Clp/src/AbcPrimalColumnSteepest.hpp -text
Clp/src/AbcSimplex.cpp -text
Clp/src/AbcSimplex.hpp -text
Clp/src/AbcSimplexDual.cpp -text
Clp/src/AbcSimplexDual.hpp -text
Clp/src/AbcSimplexFactorization.cpp -text
Clp/src/AbcSimplexFactorization.hpp -text
Clp/src/AbcSimplexParallel.cpp -text
Clp/src/AbcSimplexPrimal.cpp -text
Clp/src/AbcSimplexPrimal.hpp -text
Clp/src/AbcWarmStart.cpp -text
Clp/src/AbcWarmStart.hpp -text
Clp/src/ClpCholeskyMumps.cpp -text
Clp/src/ClpCholeskyMumps.hpp -text
Clp/src/ClpCholeskyPardiso.cpp -text
Clp/src/ClpCholeskyPardiso.hpp -text
Clp/src/ClpConstraint.cpp -text
Clp/src/ClpConstraint.hpp -text
Clp/src/ClpConstraintLinear.cpp -text
Clp/src/ClpConstraintLinear.hpp -text
Clp/src/ClpConstraintQuadratic.cpp -text
Clp/src/ClpConstraintQuadratic.hpp -text
Clp/src/ClpLsqr.cpp -text
Clp/src/ClpLsqr.hpp -text
Clp/src/ClpNode.cpp -text
Clp/src/ClpNode.hpp -text
Clp/src/ClpPEDualRowDantzig.cpp -text
Clp/src/ClpPEDualRowDantzig.hpp -text
Clp/src/ClpPEDualRowSteepest.cpp -text
Clp/src/ClpPEDualRowSteepest.hpp -text
Clp/src/ClpPEPrimalColumnDantzig.cpp -text
Clp/src/ClpPEPrimalColumnDantzig.hpp -text
Clp/src/ClpPEPrimalColumnSteepest.cpp -text
Clp/src/ClpPEPrimalColumnSteepest.hpp -text
Clp/src/ClpPESimplex.cpp -text
Clp/src/ClpPESimplex.hpp -text
Clp/src/ClpPdco.cpp -text
Clp/src/ClpPdco.hpp -text
Clp/src/ClpPdcoBase.cpp -text
Clp/src/ClpPdcoBase.hpp -text
Clp/src/ClpSolver.cpp -text
Clp/src/Clp_ampl.cpp -text
Clp/src/Clp_ampl.h -text
Clp/src/CoinAbcBaseFactorization.hpp -text
Clp/src/CoinAbcBaseFactorization1.cpp -text
Clp/src/CoinAbcBaseFactorization2.cpp -text
Clp/src/CoinAbcBaseFactorization3.cpp -text
Clp/src/CoinAbcBaseFactorization4.cpp -text
Clp/src/CoinAbcBaseFactorization5.cpp -text
Clp/src/CoinAbcCommon.hpp -text
Clp/src/CoinAbcCommonFactorization.hpp -text
Clp/src/CoinAbcDenseFactorization.cpp -text
Clp/src/CoinAbcDenseFactorization.hpp -text
Clp/src/CoinAbcFactorization.hpp -text
Clp/src/CoinAbcFactorization1.cpp -text
Clp/src/CoinAbcFactorization2.cpp -text
Clp/src/CoinAbcFactorization3.cpp -text
Clp/src/CoinAbcFactorization4.cpp -text
Clp/src/CoinAbcFactorization5.cpp -text
Clp/src/CoinAbcHelperFunctions.cpp -text
Clp/src/CoinAbcHelperFunctions.hpp -text
Clp/src/CoinAbcOrderedFactorization1.cpp -text
Clp/src/CoinAbcOrderedFactorization2.cpp -text
Clp/src/CoinAbcOrderedFactorization3.cpp -text
Clp/src/CoinAbcOrderedFactorization4.cpp -text
Clp/src/CoinAbcOrderedFactorization5.cpp -text
Clp/src/CoinAbcSmallFactorization1.cpp -text
Clp/src/CoinAbcSmallFactorization2.cpp -text
Clp/src/CoinAbcSmallFactorization3.cpp -text
Clp/src/CoinAbcSmallFactorization4.cpp -text
Clp/src/CoinAbcSmallFactorization5.cpp -text
Clp/src/OsiClp/Makefile.am -text
Clp/src/OsiClp/Makefile.in -text
Clp/src/OsiClp/OsiClpSolverInterface.cpp -text
Clp/src/OsiClp/OsiClpSolverInterface.hpp -text
Clp/src/OsiClp/osi-clp-uninstalled.pc.in -text
Clp/src/OsiClp/osi-clp.pc.in -text
Clp/src/config.h.in -text
Clp/src/config_clp.h.in -text
Clp/src/config_clp_default.h -text
Clp/src/config_default.h -text
Clp/src/format-source.sh -text
Clp/test/OsiClpSolverInterfaceTest.cpp -text
Clp/test/osiUnitTest.cpp -text
/Dependencies -text
/LICENSE -text
/README -text
/appveyor.yml -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf.in -text
/install-sh -text
/missing -text
