* text=auto !eol
Clp/clp_addlibs.txt.in -text
Clp/configure -text
Clp/configure.ac -text
Clp/examples/Makefile.in -text
Clp/inc/config_clp.h.in -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/missing -text
