* text=auto !eol
.ci/.travis.post -text
.ci/.travis.pre -text
.ci/appveyor.post -text
.ci/appveyor.pre -text
.coin-or/Dependencies -text
.coin-or/projDesc.xml -text
/.travis.yml -text
/LICENSE -text
MSVisualStudio/v10/Clp.sln -text
MSVisualStudio/v10/ClpExamplesMinimum/ClpExamplesMinimum.vcxproj -text
MSVisualStudio/v10/ClpExamplesTestBarrier/ClpExamplesTestBarrier.vcxproj -text
MSVisualStudio/v10/ClpExamplesTestQP/ClpExamplesTestQP.vcxproj -text
MSVisualStudio/v10/OsiClpUnitTest/OsiClpUnitTest.vcxproj -text
MSVisualStudio/v10/clp/clp.vcxproj -text
MSVisualStudio/v10/libClp/libClp.vcxproj -text
MSVisualStudio/v10/libOsiClp/libOsiClp.vcxproj -text
MSVisualStudio/v10alt/Clp.sln -text
MSVisualStudio/v10alt/Clp.vcxproj -text
MSVisualStudio/v10alt/OsiClpUnitTest.vcxproj -text
MSVisualStudio/v10alt/clp.props -text
MSVisualStudio/v10alt/genDefForClp.ps1 -text
MSVisualStudio/v10alt/libClp.vcxproj -text
MSVisualStudio/v10alt/libOsiClp.vcxproj -text
MSVisualStudio/v10alt/osiclp.props -text
MSVisualStudio/v14/libClp/libClp.vcxproj -text
MSVisualStudio/v14/libOsiClp/libOsiClp.vcxproj -text
MSVisualStudio/v15/libClp/libClp.vcxproj -text
MSVisualStudio/v15/libOsiClp/libOsiClp.vcxproj -text
MSVisualStudio/v16/libClp/libClp.sln -text
MSVisualStudio/v16/libClp/libClp.vcxproj -text
MSVisualStudio/v16/libOsiClp/libOsiClp.vcxproj -text
MSVisualStudio/v9/Clp.sln -text
MSVisualStudio/v9/ClpExamplesMinimum/ClpExamplesMinimum.vcproj -text
MSVisualStudio/v9/ClpExamplesTestBarrier/ClpExamplesTestBarrier.vcproj -text
MSVisualStudio/v9/ClpExamplesTestQP/ClpExamplesTestQP.vcproj -text
MSVisualStudio/v9/OsiClpUnitTest/OsiClpUnitTest.vcproj -text
MSVisualStudio/v9/clp/clp.vcproj -text
MSVisualStudio/v9/libClp/libClp.vcproj -text
MSVisualStudio/v9/libOsiClp/libOsiClp.vcproj -text
MSVisualStudio/v9alt/Clp.sln -text
MSVisualStudio/v9alt/Clp.vcproj -text
MSVisualStudio/v9alt/OsiClpUnitTest.vcproj -text
MSVisualStudio/v9alt/clp.vsprops -text
MSVisualStudio/v9alt/genDefForClp.ps1 -text
MSVisualStudio/v9alt/libClp.vcproj -text
MSVisualStudio/v9alt/libOsiClp.vcproj -text
MSVisualStudio/v9alt/osiclp.vsprops -text
/appveyor.yml -text
/ar-lib -text
/clp.pc.in -text
/compile -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf.in -text
examples/Makefile.in -text
examples/decomp2.cpp -text
examples/decomp3.cpp -text
examples/driver3.cpp -text
examples/g.tiny -text
examples/gparm.tiny -text
examples/iis.cpp -text
examples/modify.cpp -text
examples/myPdco.cpp -text
examples/myPdco.hpp -text
examples/pdco.cpp -text
/install-sh -text
/ltmain.sh -text
m4/ac_clp_aboca.m4 -text
/missing -text
src/AbcCommon.hpp -text
src/AbcDualRowDantzig.cpp -text
src/AbcDualRowDantzig.hpp -text
src/AbcDualRowPivot.cpp -text
src/AbcDualRowPivot.hpp -text
src/AbcDualRowSteepest.cpp -text
src/AbcDualRowSteepest.hpp -text
src/AbcMatrix.cpp -text
src/AbcMatrix.hpp -text
src/AbcNonLinearCost.cpp -text
src/AbcNonLinearCost.hpp -text
src/AbcPrimalColumnDantzig.cpp -text
src/AbcPrimalColumnDantzig.hpp -text
src/AbcPrimalColumnPivot.cpp -text
src/AbcPrimalColumnPivot.hpp -text
src/AbcPrimalColumnSteepest.cpp -text
src/AbcPrimalColumnSteepest.hpp -text
src/AbcSimplex.cpp -text
src/AbcSimplex.hpp -text
src/AbcSimplexDual.cpp -text
src/AbcSimplexDual.hpp -text
src/AbcSimplexFactorization.cpp -text
src/AbcSimplexFactorization.hpp -text
src/AbcSimplexParallel.cpp -text
src/AbcSimplexPrimal.cpp -text
src/AbcSimplexPrimal.hpp -text
src/AbcWarmStart.cpp -text
src/AbcWarmStart.hpp -text
src/ClpCholeskyMumps.cpp -text
src/ClpCholeskyMumps.hpp -text
src/ClpCholeskyPardiso.cpp -text
src/ClpCholeskyPardiso.hpp -text
src/ClpConstraint.cpp -text
src/ClpConstraint.hpp -text
src/ClpConstraintLinear.cpp -text
src/ClpConstraintLinear.hpp -text
src/ClpConstraintQuadratic.cpp -text
src/ClpConstraintQuadratic.hpp -text
src/ClpLsqr.cpp -text
src/ClpLsqr.hpp -text
src/ClpNode.cpp -text
src/ClpNode.hpp -text
src/ClpPEDualRowDantzig.cpp -text
src/ClpPEDualRowDantzig.hpp -text
src/ClpPEDualRowSteepest.cpp -text
src/ClpPEDualRowSteepest.hpp -text
src/ClpPEPrimalColumnDantzig.cpp -text
src/ClpPEPrimalColumnDantzig.hpp -text
src/ClpPEPrimalColumnSteepest.cpp -text
src/ClpPEPrimalColumnSteepest.hpp -text
src/ClpPESimplex.cpp -text
src/ClpPESimplex.hpp -text
src/ClpPdco.cpp -text
src/ClpPdco.hpp -text
src/ClpPdcoBase.cpp -text
src/ClpPdcoBase.hpp -text
src/ClpSolver.cpp -text
src/CoinAbcBaseFactorization.hpp -text
src/CoinAbcBaseFactorization1.cpp -text
src/CoinAbcBaseFactorization2.cpp -text
src/CoinAbcBaseFactorization3.cpp -text
src/CoinAbcBaseFactorization4.cpp -text
src/CoinAbcBaseFactorization5.cpp -text
src/CoinAbcCommon.hpp -text
src/CoinAbcCommonFactorization.hpp -text
src/CoinAbcDenseFactorization.cpp -text
src/CoinAbcDenseFactorization.hpp -text
src/CoinAbcFactorization.hpp -text
src/CoinAbcFactorization1.cpp -text
src/CoinAbcFactorization2.cpp -text
src/CoinAbcFactorization3.cpp -text
src/CoinAbcFactorization4.cpp -text
src/CoinAbcFactorization5.cpp -text
src/CoinAbcHelperFunctions.cpp -text
src/CoinAbcHelperFunctions.hpp -text
src/CoinAbcOrderedFactorization1.cpp -text
src/CoinAbcOrderedFactorization2.cpp -text
src/CoinAbcOrderedFactorization3.cpp -text
src/CoinAbcOrderedFactorization4.cpp -text
src/CoinAbcOrderedFactorization5.cpp -text
src/CoinAbcSmallFactorization1.cpp -text
src/CoinAbcSmallFactorization2.cpp -text
src/CoinAbcSmallFactorization3.cpp -text
src/CoinAbcSmallFactorization4.cpp -text
src/CoinAbcSmallFactorization5.cpp -text
src/OsiClp/Makefile.am -text
src/OsiClp/Makefile.in -text
src/OsiClp/OsiClpSolverInterface.cpp -text
src/OsiClp/OsiClpSolverInterface.hpp -text
src/OsiClp/config_osiclp.h.in -text
src/OsiClp/osi-clp.pc.in -text
src/config.h.in -text
src/config_clp.h.in -text
src/config_clp_default.h -text
src/config_default.h -text
src/format-source.sh -text
test/OsiClpSolverInterfaceTest.cpp -text
test/osiUnitTest.cpp -text
